.img-upload-preview {
    width: 100px;
    height: 120px;
    display: none;
}

label[class="error"] {
    color: red;
    z-index: 6;
}

label[id="exampleInputFile-error"] {
    position: absolute;
    top: 40px;
    left: 120px;
}

label[id="file-link-trailer-error"] {
    position: absolute;
    top: 40px;
    left: 120px;
}

.img-upload-preview-background {
    width: 250px;
    height: 120px;
    display: none;
}

label[id="movie-background-error"] {
    position: absolute;
    top: 40px;
    left: 280px;
}

label[class="custom-file-label"] {
    overflow: hidden !important;
}